* {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: rgb(208, 219, 208);
}

body {
    height: 100vh;
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    background-color: rgb(240, 238, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

div.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

main{
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */

div.top header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding: 3px 0;
}

div.top header img {
    display: block;
    height: 60%;
    margin: 0 auto;
    padding-bottom: 2px;
}

div.top header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1E30;
}

div.top header h1 span{
    display: block;
    font-size: 1.2rem;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 3px 0;
    color: rgb(240, 238, 232);
    letter-spacing: 2px;
}

/*inputs*/

div.top div.input_area {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.top div.select_inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

div.top div.select_inputs label {
    flex-basis: 20%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

div.top div.select_inputs select {
    width: 40%;
    display: block;
    text-transform: uppercase;
    margin-left: 10px;
    background-color: #A6D2FF
}

main div.map {
    position: relative;
    max-width: 100%;
    margin: 10px 10px 0px;
    border: 2px solid #0C1E30;
    overflow: hidden;
}

main div.map img.mapofBuczek {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

main div.map img.mapnorth {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 384px;
    max-height: 880px;
    top: -1000px;
    left: 0%;
    transition: .5s;
    z-index: 4;
}

main div.map img.mapnorth_top {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 778px;
    max-height: 880px;
    top: -1000px;
    left: 0%;
    transition: .5s;
    z-index: 9;
}

main div.map img.mapnorth.center {
    top: 0px;
}

main div.map img.mapnorth_top.center {
    top: 0px;
}

div.buttons_left {
    display: none;
}

div.buttons_right {
    display: none;
}

/* streets */

.brojsce {
    position: absolute;
    top: 69.8%;
    left: 90.5%;
    height: 14.8%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.cicha {
    position: absolute;
    top: 77.6%;
    left: 39%;
    width: 6%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.debowa {
    position: absolute;
    top: 23.8%;
    left: 64.5%;
    width: 27%;
    height: auto;
    z-index: 3;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.glowna {
    position: absolute;
    top: 0%;
    left: 39.7%;
    width: 60%;
    height: 93.5%;
    z-index: 3;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.gorna {
    position: absolute;
    top: 80.4%;
    left: 46.8%;
    width: auto;
    height: 7.2%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.krotka {
    position: absolute;
    top: 65%;
    left: 44%;
    width: 10%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.lakowa {
    position: absolute;
    top: 66.1%;
    left: 1.3%;
    width: 33%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.modrzewiowa {
    position: absolute;
    top: 24.5%;
    left: 70.5%;
    width: auto;
    height: 18.9%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.lgow {
    position: absolute;
    top: 32.7%;
    left: 70.7%;
    width: auto;
    height: 12%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.lipowa {
    position: absolute;
    top: 74.8%;
    left: 30.2%;
    width: auto;
    height: 8.9%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.osiedle {
    position: absolute;
    top: 66.9%;
    left: 44.7%;
    width: 18.8%;
    height: auto;
    z-index: 2;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.parcela {
    position: absolute;
    top: 82.8%;
    left: 29.3%;
    width: 17%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.parkowa {
    position: absolute;
    top: 26.3%;
    left: 42.2%;
    width: 13%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.pienki {
    position: absolute;
    top: 0%;
    left: 46%;
    width: 23.4%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.poludniowa {
    position: absolute;
    top: 88.8%;
    left: 47.4%;
    width: 23.4%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.poprzeczna {
    position: absolute;
    top: 72.7%;
    left: 35%;
    width: 9.6%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.prosta {
    position: absolute;
    top: 52.5%;
    left: 41.9%;
    width: 6.5%;
    height: 48%;
    z-index: 2;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.sloneczna {
    position: absolute;
    top: 74.6%;
    left: 46.3%;
    width: 17.6%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.spacerowa {
    position: absolute;
    top: 36.2%;
    left: 53%;
    width: 11.2%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.spokojna {
    position: absolute;
    top: 46.5%;
    left: 63.8%;
    width: auto;
    height: 19.3%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.spoldzielcza {
    position: absolute;
    top: 19.9%;
    left: 44.5%;
    width: 20.8%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.szkolna {
    position: absolute;
    top: 50.6%;
    left: 21.8%;
    width: 21%;
    height: auto;
    z-index: 2;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.topolowa {
    position: absolute;
    top: 42.5%;
    left: 42.3%;
    width: 29%;
    height: auto;
    z-index: 2;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.waska {
    position: absolute;
    top: 38.1%;
    left: 14.2%;
    width: 25.6%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.wschodnia {
    position: absolute;
    top: 24.2%;
    left: 64%;
    width: auto;
    height: 21.2%;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.zielona {
    position: absolute;
    top: 32.7%;
    left: 0%;
    width: 39.5%;
    height: auto;
    z-index: 1;
    opacity: 1;
    filter: grayscale(1) brightness(4);
}

.szadek {
    position: absolute;
    top: -1000px;
    left: 0%;
    width: 37%;
    height: auto;
    z-index: 5;
    opacity: 1;
    filter: grayscale(1) brightness(4);
    transition: .5s;
}

.szadek.center {
    /* top: 20.3%; */
    top: 0%;
    left: 0%;
}

.szadek.visibleSz {
    position: absolute;
    top: 20.3%;
    left: 0%;
    width: 37%;
    height: auto;
    z-index: 5;
    opacity: 1;
    filter: none;
    animation: blink 1s .5s 1;
}

.wygwizdow {
    position: absolute;
    top: -1000px;
    left: 33.9%;
    width: 67.7%;
    height: auto;
    z-index: 5;
    opacity: 1;
    filter: grayscale(1) brightness(4);
    transition: .5s;
}

.wygwizdow.center {
    top: 11.5%;
    left: 33.9%;
}

.wygwizdow.visibleSz {
    position: absolute;
    top: 11.5%;
    left: 33.9%;
    width: 67.7%;
    height: auto;
    z-index: 5;
    opacity: 1;
    filter: none;
    animation: blink 1s .5s 1;
}

/* buildings */

div.map i {
    position: absolute;
    width: 20px;
    height: 20px;
    color: red;
    z-index: 4;
    opacity: 0;
    font-size: .8rem;
}

div.map i.fa-church {
    top: 29%;
    left: 42.5%;
}

div.map i.fa-envelope {
    top: 25.8%;
    left: 44.5%;
}

div.map i.fa-school {
    top: 38%;
    left: 42.7%;
}

div.map i.fa-dollar-sign {
    top: 25.7%;
    left: 47.8%;
}

div.map i.fa-graduation-cap {
    top: 62%;
    left: 38%;
}

div.map i.fa-hospital-alt {
    top: 62%;
    left: 44.5%;
}

div.map i.fa-briefcase-medical {
    top: 22.7%;
    left: 44%;
}

div.map i.fa-glass-martini {
    top: 6%;
    left: 39.5%;
}

div.map i.fa-theater-masks {
    top: 58.8%;
    left: 39%;
}

div.map i.fa-car-side {
    top: 91%;
    left: 27.3%;
}

div.map i.fa-car-side {
    top: 91%;
    left: 27.3%;
}

div.map i.fa-pizza-slice {
    top: 34.5%;
    left: 43%;
}

/* kierunki na mapie głównej */

div.directions p {
    position: absolute;
    text-transform: uppercase;
    color: rgb(116, 182, 35);
    font-size: 70%;
    z-index: 5;
    font-weight: bold;
}

div.directions p:nth-of-type(1) {
    top: 2%;
    left: 28%;
}

div.directions p:nth-of-type(2) {
    top: 92%;
    left: 81%;
}

div.directions p:nth-of-type(3) {
    top: 91.5%;
    left: 2%;
}

div.directions p:nth-of-type(4) {
    top: 30%;
    left: 5%;
}

div.directions p:nth-of-type(5) {
    top: 31.2%;
    left: 81.5%;
}

div.directions p:nth-of-type(6) {
    top: 0.5%;
    left: 73%;
}

div.directions i {
    position: absolute;
    color: black;
    opacity: 1;
    font-size: 80%;
}

div.directions i:nth-of-type(1) {
    top: 0.2%;
    left: 39.5%;
    transform: rotate(-18deg);
}

div.directions i:nth-of-type(2) {
    top: 89%;
    left: 90%;
    transform: rotate(130deg);
}

div.directions i:nth-of-type(3) {
    top: 92%;
    left: 16%;
    transform: rotate(200deg);
}

div.directions i:nth-of-type(4) {
    top: 27%;
    left: 0.6%;
    transform: rotate(292deg);
}

div.directions i:nth-of-type(5) {
    top: 30.6%;
    left: 92.5%;
    transform: rotate(70deg);
}

div.directions i:nth-of-type(6) {
    top: 0.9%;
    left: 66.5%;
    transform: rotate(60deg);
}

/* aside */

aside {
    display: none;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* active classes */

.visible {
    filter: none;
    animation: blink 1s 1;
}

.visible2 {
    filter: none;
    animation: blink2 1s 1;
}

@media (orientation: landscape) {
    div.wrapper {
        flex-direction: row;
    }

    div.top {
        height: 100%;
    }

    div.top header {
        padding: 0;
        height: 50%;
    }

    div.top header img {
        margin-bottom: 5px;
        height: 25%;
    }

    div.top div.input_area {
        justify-content: flex-start;
        /* margin-top: 20px; */
        height: 25%;
    }

    main {
        height: 100%;
        margin-top: 0;
        padding: 0;
    }

    main div.map {
        margin: 10px;
    }

    footer {
        width: 50%;
        position: absolute;
        left: 0%;
        bottom: 0%;
        margin-top: 2px;
        background-color: transparent;
        align-items: center;
    }

    footer p {
        color: black;
        margin-right: 0;
    }
}

@media (min-width: 825px) {

    div.wrapper {
        position: relative;
        flex-direction: column;
        max-height: 900px;
    }

    div.top {
        height: 14%;
        min-height: 70px;
    }

    div.top header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.top header img {
        order: 2;
        height: 150%;
        margin: 0 7% 0 2%;
    }

    div.top header h1 {
        height: 100%;
        width: 100%;
        transform: skew(-45deg) translateX(-15%);
    }

    div.top header h1 span {
        width: 100%;
        transform: skew(45deg);
        font-size: 1.9rem;
        margin-left: 50px;
    }

    div.top div.input_area {
        display: none;
    }

    div.directions p {
        font-size: 85%;
    }

    div.directions i:nth-of-type(3) {
        left: 18%;
    }

    aside {
        display: block;
        position: relative;
        align-self: flex-end;
        width: 70%;
        padding: 3% 0;
        margin-top: 5px;
        min-height: 30px;
    }

    aside div.select_inputs {
        width: 100%;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0C1E30;
        transform: skew(-45deg) translateX(15%);
    }

    aside div.select_inputs label {
        font-size: 150%;
        color: rgb(240, 238, 232);
        margin: 3px 8% 0 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        transform: skew(45deg);
    }

    aside div.select_inputs select {
        width: 35%;
        display: block;
        text-transform: uppercase;
        margin-left: 10px;
        background-color: #A6D2FF;
        transform: skew(45deg);
    }

    main {
        height: 75%;
        width: 100%;
        min-height: 390px;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
    }

    main div.map {
        margin: 0 auto;
        max-width: 40%;
        /* max-height: 100%; */
    }

    main div.map img.mapofBuczek {
        max-width: 100%;
    }

    main div.map img.mapnorth {
        max-width: 100%;
    }

    div.buttons_left, div.buttons_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        height: 100%;
    }

    div.buttons_left {
        align-items: flex-start;
        margin-right: 50px;
    }

    div.buttons_right {
        align-items: flex-end;
        margin-left: 50px;
    }

    div.buttons_left button, div.buttons_right button {
        border-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        min-height: 5%;
        border-top: none;
        cursor: pointer;
        transition: .3s;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #0C1E30;
        border-color: rgb(184, 194, 196);
        font-size: 90%;
    }

    div.buttons_left button {
        margin: 1.5% 0 1.5% -20px;
        transform: skew(-45deg);
        box-shadow: 7px 4px 0px -2px #BC2026;
    }

    div.buttons_right button {
        margin: 1.5% -20px 1.5% 0;
        transform: skew(45deg);
        box-shadow: -7px 4px 0px -2px #BC2026;
    }

    div.buttons_left button span, div.buttons_right button span {
        display: block;
        color: white;
        letter-spacing: 2px;
        margin-top: 3px;
    }

    div.buttons_left button span {
        transform: skew(45deg);
    }

    div.buttons_right button span {
        transform: skew(-45deg);
    }

    div.buttons_left button:hover {
        background-color: #BC2026;
        box-shadow: 6px 4px 0px -8px #ccc;
    }

    div.buttons_right button:hover {
        background-color: #BC2026;
        box-shadow: 6px 4px 0px -4px #ccc;
    }

    footer {
        width: 100%;
        height: 3%;
        align-items: flex-end;
    }

    footer p {
        margin-right: 20px;
    }

}

/* animations */

@keyframes blink {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}